@model IEnumerable<Octopus.Models.WebServRegion>

@{
    ViewData["Title"] = "WebServices";
}

<input hidden id="pageType" name="WebServRegions1" />

<p>
    <button value="WebServRegions1" class="btn btn-outline-primary" onclick="showModal(this)" name="Create">Nuevo WebSvc</button>
</p>
<div class="jumbotron">

    <table class="table table-striped table responsive table-dark" style="margin-left:0px !important">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Region.Carrier)
                    <button value="Carriers" class="btn btn-primary btn-sm" onclick="showModal(this)" name="Create">New</button>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                    <button value="Regions" class="btn btn-success btn-sm" onclick="showModal(this)" name="Create">New</button>
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.WebService.Order)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebService.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebService)
                    <button value="Regions" class="btn btn-success btn-sm" onclick="showModal(this)" name="Create">Edit</button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region.Carrier.CarrierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Region.RegionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebService.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebService.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebService.WebServDesc.WebServiceName)
                    </td>

                    <td>

                        <button value="WebServRegions1" class="btn btn-warning" onclick='showModal(this)' id="@item.Id" name="Delete">Delete</button>
                        <button value="WebServRegions1" class="btn btn-outline-warning" onclick="showModal(this)" id="@item.Id" name="Edit">Edit</button> |
                        @* <a class="btn btn-outline-delete" onclick="showModal(this)" id="@item.Id" name="Delete">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>