@model Octopus.Helpers.PaginadorGenerico<Recarga>

@{
    ViewData["Title"] = "Index";
    var carteraId = ViewBag.carteraId != null ? ViewBag.carteraId : 0;
}


@if (!User.IsInRole("Administrador"))
{

    <div class="row" style="max-height:30px">
        <button value="@carteraId" class="btn btn-sm btn-block btn-warning col-6 mx-auto" id="1" name="Index" onclick="newSearch(this,1)">Nueva búsqueda</button>
    </div>
}
@*else
    {
        <p>@ViewBag.send</p>
        <p>@ViewBag.carrier</p>
    }*@
<h6>Total: <small>@ViewBag.total</small></h6>
<table class="table table-responsive table-bordered table-dark table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Teléfono
            </th>
            <th>
                Fecha
            </th>

            <th>
                Acuse
            </th>
            <th>
                Estado
            </th>
            <th>
                Nombre
            </th>
            <th>
                Monto
            </th>
            <th>
                Compañía
            </th>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Administrador"))
                {
                    <th>
                        WS
                    </th>
                    <th></th>
                }
            }

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Resultado)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StatusCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.StatusDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto.MontoCant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carrier.CarrierName)
                    </td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Administrador"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.WebServDesc.WebServiceName)
                            </td>
                            <td>
                                <a style="color:white" class="btn btn-success" name="Details" id="@item.Id" onclick="showModal(this)">Detalle</a>
                            </td>
                        }
                    }


                </tr>
            }
        }

    </tbody>
</table>

@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
@if (Model != null)
{
    if (Model.RegistrosPorPagina != 0)
    {

        if (Model.Resultado.Count() > 0)
        {
            <span>
                <strong>@Model.TotalRegistros</strong> registros encontrados
            </span>
            <span>&nbsp;|&nbsp;</span>
            <span>
                Página <strong>@(Model.PaginaActual)</strong> de
                <strong>@Model.TotalPaginas</strong>
            </span>
            <span>&nbsp;|&nbsp;</span>
        }
        else
        {
            <span>No hay resultados para esta búsqueda</span>
            <span>&nbsp;|&nbsp;</span>
        }

        if (Model.PaginaActual > 1)
        {
            var pag = Model.PaginaActual - 1;
            <button onclick="showModal(this,1)" name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Primera</button>
            <span></span>
            <button onclick="showModal(this,1)" name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Anterior</button>
        }
        else
        {
            <button disabled onclick="showModal(this,1)" name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Primera</button>
            <span></span>
            <button disabled onclick="showModal(this,1)" name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Anterior</button>
        }
        <span></span>
        if (Model.PaginaActual < Model.TotalPaginas)
        {
            var pag = Model.PaginaActual + 1;
            <button onclick='showModal(this,"@pag")' name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Siguiente</button>
            <span></span>
            <button onclick='showModal(this,"@Model.TotalPaginas")' name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Última</button>
        }
        else
        {
            var pag = Model.TotalPaginas - 1;
            <button disabled onclick='showModal(this,"@pag")' name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Siguiente</button>
            <span></span>
            <button disabled onclick='showModal(this,"@Model.TotalPaginas")' name="IndexP" value="@carteraId" class="btn btn-sm btn-default">Última</button>
        }
    }

}

