@model Octopus.Helpers.PaginadorGenerico<Recarga>

@{
    ViewData["Title"] = "Index";
}

<input hidden id="pageType" name="Recargas" />
<div class="col-12 mt-10 mb-10">
    <a class="btn btn-sm btn-block btn-outline-primary col-8 mx-auto" id="" name="getConsulta" onclick="showModal(this)">Nueva Consulta</a>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Teléfono
            </th>
            <th>
                Fecha
            </th>

            <th>
                Acuse
            </th>
            <th>
                Estado
            </th>
            <th>
                Nombre
            </th>
            <th>
                Monto
            </th>
            <th>
                Compañía
            </th>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Administrador"))
                {
                    <th>
                        WS
                    </th>
                    <th></th>
                }
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resultado)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StatusCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto.MontoCant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrier.CarrierName)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Administrador"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.WebServDesc.WebServiceName)
                        </td>
                        <td>
                            <a style="color:white" class="btn btn-success" name="Details" id="@item.Id" onclick="showModal(this)">Detalle</a>
                        </td>
                    }
                }


            </tr>
        }
    </tbody>
</table>

@*CÓDIGO PARA EL PAGINADOR DE REGISTROS*@
@if (Model.Resultado.Count() > 0)
{
    <span>
        <strong>@Model.TotalRegistros</strong> registros encontrados
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span>
        Página <strong>@(Model.PaginaActual)</strong> de
        <strong>@Model.TotalPaginas</strong>
    </span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    var pag = Model.PaginaActual - 1;
    <button onclick="getPage(this)" name="Recargas" value = "1" class="btn btn-sm btn-default">Primera</button>
    @*Html.ActionLink("<<", "Index", new { pagina = 1 },
        new { @class = "btn btn-sm btn-default" })*@
    <span></span>
    <button onclick="getPage(this)" name="Recargas" value = "@pag"  class="btn btn-sm btn-default">Anterior</button>
    @*Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 },
        new { @class = "btn btn-sm btn-default" })*@
}
else
{
    <button disabled onclick="getPage(this)" name="Recargas" value="1" class="btn btn-sm btn-default">Primera</button>
    @*Html.ActionLink("<<", "Index", new { pagina = 1 },
        new { @class = "btn btn-sm btn-default disabled" })*@
    <span></span>
    <button disabled onclick="getPage(this)" name="Recargas" value="1" class="btn btn-sm btn-default">Anterior</button>
    @*Html.ActionLink("Anterior", "Index", new { pagina = 1 },
        new { @class = "btn btn-sm btn-default disabled" })*@
}
<span></span>
@if (Model.PaginaActual < Model.TotalPaginas)
{
    var pag = Model.PaginaActual + 1;
    <button onclick="getPage(this)" name="Recargas" value="@pag" class="btn btn-sm btn-default">Siguiente</button>
    @*Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 },
        new { @class = "btn btn-sm btn-default" })*@
    <span></span>
    <button onclick="getPage(this)" name="Recargas" value="@Model.TotalPaginas" class="btn btn-sm btn-default">Última</button>
    @*Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
        new { @class = "btn btn-sm btn-default" })*@
}
else
{
    var pag = Model.TotalPaginas - 1;
    <button disabled onclick="getPage(this)" name="Recargas" value="@pag" class="btn btn-sm btn-default">Siguiente</button>
    @*Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
        new { @class = "btn btn-sm btn-default disabled" })*@
    <span></span>
    <button disabled onclick="getPage(this)" name="Recargas" value="@Model.TotalPaginas" class="btn btn-sm btn-default">Última</button>
    @*Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                                                            new { @class = "btn btn-sm btn-default disabled" })*@
}

