@model IEnumerable<Octopus.Models.Monto>

@{
    ViewData["Title"] = "Montos";
}

<h3>@ViewBag.Title</h3>

<p>
    <a class="btn btn-primary btn-block mx-auto" asp-action="Create">Agregar Monto</a>
</p>
<div class="jumbotron">

    <table class="table table-striped table responsive table-dark" style="margin-left:0px !important">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Carrier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoCant)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carrier.CarrierName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.MontoCant).00
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" onclick="showModal(this)" id="editMonto" name="@item.Id">Editar</a> |
                        <a class="btn btn-outline-danger" onclick="showModal(this)" id="deleteMonto" name="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>