@model IEnumerable<Octopus.Models.Monto>

@{
    ViewData["Title"] = "Montos";
}

<h3>@ViewBag.Title</h3>
<input hidden id="pageType" name="Montoes" />
<p>
    <button value="Montoes" class="btn btn-md btn-block btn-success col-8 mx-auto" onclick="showModal(this)" name="Create">Agregar Monto</button>
    
</p>
<div class="jumbotron">

    <table class="table table-striped table responsive table-dark" style="margin-left:0px !important">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Carrier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoCant)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carrier.CarrierName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.MontoCant).00
                    </td>
                    <td>
                        <button value="Montoes" class="btn btn-outline-warning" onclick="showModal(this)" name="Edit" id="@item.Id" >Editar</button> |
                        <button value="Montoes" class="btn btn-outline-danger" onclick="showModal(this)" id="@item.Id" name="Delete">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>